#ifdef _WIN32
#include <windows.h>
#include <conio.h>
#endif
#include <stdio.h>

#define MAX 50

char tableau[MAX][MAX] ={
"1111111111111111111111111111111111111111111",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1                                         1",
"1111111111111111111111111111111111111111111"
};


int MyGetch()
{
#ifdef _WIN32
    return getch();
#endif
// trouver alternative hors Windows.
}

void Locate(int x,int y)
{
#ifdef _WIN32
    HANDLE H=GetStdHandle(STD_OUTPUT_HANDLE);
    COORD C;
    C.X=(SHORT)x;
    C.Y=(SHORT)y;
    SetConsoleCursorPosition(H,C);
#endif
    // trouver alternative hors Windows.
}

void Afficher(int x,int y)
{
    int i,j;
    Locate(0,0);
    for(i=0;i<MAX;i++)
    {
        for(j=0;j<MAX;j++)
        {
            if (i==x && j==y)
                printf(">");
            else
                printf("%c",tableau[i][j]);
        }
        printf("\n");
    }
}
void TryMove(int* x,int* y,int vx,int vy)
{
    if (tableau[*x+vx][*y+vy]=='1')
        return;
    (*x)+=vx;
    (*y)+=vy;
}


int main()
{
    int i;
    int j;
    int c;
    int bouclefleche;
    const int minx = 1;
    const int maxx = 42;
    const int miny = 1;
    const int maxy = 14;
    int aleatx;
    int aleaty;
    int x;
    int y;// position joueur
    int partie;
    int touche;

    aleatx = 0;
    aleaty = 0;
    c=0;
    bouclefleche=0;
    partie=0;
    x =7;
    y = 20;
    touche = 0;

    srand(time(NULL)); // initialisation de rand

    aleatx = rand()%(maxx-minx)+minx;
    aleaty = rand()%(maxy-miny)+miny;
    tableau[aleaty][aleatx]=3;




 while (partie==0)
 {
    for (i = 0; i <MAX; i++) {
            printf("\n");
        for(j = 0; j < MAX; j++) {
            if (tableau[i][j]==1)
                printf("#");
            if (tableau[i][j]==0)
            	printf(" ");
            if (tableau[i][j]==2)
            	printf("o");
            if (tableau[i][j]==3)
            	printf("0");
            if (tableau[i][j]==4)
                printf("=");
        }
    }

    while(touche!=27) // ECHAP
    {
        Afficher(x,y);
        touche = MyGetch();
        switch(touche)
        {
        case 'q':
            TryMove(&x,&y,0,-1);
            break;
        case 'd':
            TryMove(&x,&y,0,1);
            break;
        case 'z':
            TryMove(&x,&y,-1,0);
            break;
        case 's':
            TryMove(&x,&y,1,0);
        default:
            break;
        }
    }
    return 0;
 }
}
